## Az eredményeket mentsd a src/weekly modul-ba weekly_test_5.py néven

#### Használható modulok: pandas, typing, matplotlib, random, src.utils, src.weekly, str

In [2]:
from pathlib import Path

file_to_load = Path.cwd().parent.joinpath('data').joinpath('chipotle.tsv')

In [ ]:
"""
1., Olvasd be a data mappa chipotle.tsv nevű fájlját egy dataframe-be. A betöltött   adatokat food nevű változóban mentse. A következő feladatokban a kiinduló fájlt csak akkor írd felül, ha jelezve van.
"""

In [8]:
import pandas as pd
food = pd.read_csv('../data/chipotle.tsv',sep='\t')

In [9]:
food

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [ ]:
"""
2., Készts egy függvényt, ami a bemeneti adattömbben átalakítja az item_price értékeit float-ra. Az eredeti adatokat a függvény ne módosítsa. A kapott, tisztított adatokkal írd felül a food változót.

függvény név: change_price_to_float
bemenet: input_df
kimeneti típus: pandas.core.frame.DataFrame
"""

In [39]:
def change_price_to_float(input_df):
    new_df=input_df.copy()
    new_df['item_price'] = new_df['item_price'].str.replace('$', '').astype(float)
    return new_df

In [75]:
food = change_price_to_float(food)

In [ ]:
"""
3., Készíts egy függvényt, ami megmondja, hogy hány megfigyelés található az adathalmazban

függvény név: number_of_observations
bemenet: input_df
kimeneti típus: int
"""

In [13]:
def number_of_observations(input_df):
    new_df=input_df.copy()
    return len(new_df)

In [14]:
number_of_observations(food)

4622

In [ ]:
"""
4., Készíts egy függvényt, ami visszadja a termék neveket és az áraikat.

függvény név: items_and_prices
bemenet: input_df
kimeneti típus: pandas.core.frame.DataFrame
"""

In [15]:
def items_and_prices(input_df):
    new_df=input_df.copy()
    return new_df.loc[:, ['item_name', 'item_price']]

In [16]:
items_and_prices(food)

                                  item_name item_price
0              Chips and Fresh Tomato Salsa     $2.39
1                                      Izze     $3.39
2                          Nantucket Nectar     $3.39
3     Chips and Tomatillo-Green Chili Salsa     $2.39
4                              Chicken Bowl    $16.98
...                                     ...        ...
4617                          Steak Burrito    $11.75
4618                          Steak Burrito    $11.75
4619                     Chicken Salad Bowl    $11.25
4620                     Chicken Salad Bowl     $8.75
4621                     Chicken Salad Bowl     $8.75

[4622 rows x 2 columns]

In [ ]:
"""
5., Készíts egy függvényt, ami sorba rendezi az termékeket az áruk alapján, csökkenő sorrendben. Használd az előző  függvény eredményét.

függvény név: sorted_by_price
bemenet: input_df
kimeneti típus: pandas.core.frame.DataFrame

"""

In [20]:
def sorted_by_price(input_df):
    new_df=input_df.copy()
    return items_and_prices(new_df).sort_values('item_price', ascending=False)

In [21]:
sorted_by_price(food)

                item_name item_price
2624     Steak Salad Bowl     $9.39
4419     Steak Salad Bowl     $9.39
4036     Steak Salad Bowl     $9.39
1825  Barbacoa Salad Bowl     $9.39
3115  Carnitas Salad Bowl     $9.39
...                   ...        ...
3145          Canned Soda     $1.09
414           Canned Soda     $1.09
3162          Canned Soda     $1.09
821           Canned Soda     $1.09
1457          Canned Soda     $1.09

[4622 rows x 2 columns]

In [ ]:
"""
6., Készíts egy függvényt, ami visszaadja az átlagos árat.

függvény név: avg_price
bemenet: input_df
kimeneti típus: float

"""

In [22]:
def avg_price(input_df):
    new_df=input_df.copy()
    return new_df['item_price'].mean()

In [ ]:
avg_price(food)

In [ ]:
"""
7., Készíts egy függvényt, ami visszadja azokat az egyedi termékeket (név, feltét és ár szempontjából egyedi), amelyek ára 10 dollár felett van

függvény név: unique_items_over_ten_dollars
bement: input_df
kimeneti típus: pandas.core.frame.DataFrame

"""

In [62]:
def unique_items_over_ten_dollars(input_df):
    new_df=input_df.copy()
    new_df = new_df[new_df['item_price'] > 10]
    new_df = new_df.drop_duplicates(subset=['item_name', 'choice_description', 'item_price'])
    return new_df

In [64]:
def items_starting_with_s(input_df):
    new_df=input_df.copy()
    new_df.drop_duplicates(subset='item_name')
    return new_df['item_name'][new_df['item_name'].str.startswith('S')]

In [65]:
items_starting_with_s(food)

6          Side of Chips
7          Steak Burrito
8       Steak Soft Tacos
9          Steak Burrito
31         Steak Burrito
              ...
4572    Steak Salad Bowl
4607       Steak Burrito
4610       Steak Burrito
4617       Steak Burrito
4618       Steak Burrito
Name: item_name, Length: 805, dtype: object

In [ ]:
"""
8., Készíts egy függvényt, ami visszaadja azon termékek neveit, amelyek neve 'S'-el kezdődik.

fv. neve: items_starting_with_s
bemenet: input_df
kimeneti típus: pandas.core.frame.DataFrame
"""

In [71]:
def items_starting_with_s(input_df):
    new_df=input_df.copy()
    new_df = new_df.drop_duplicates(subset=['item_name'])
    new_df = new_df['item_name'][new_df['item_name'].str.startswith('S')]
    return new_df

In [72]:
items_starting_with_s(food)

6            Side of Chips
7            Steak Burrito
8         Steak Soft Tacos
54              Steak Bowl
92      Steak Crispy Tacos
281       Steak Salad Bowl
664            Steak Salad
1414                 Salad
Name: item_name, dtype: object

In [ ]:
"""
9. Készíts egy függvényt, ami visszaadja az első 3 oszlopot. Használd a tisztított.

fv. név: first_three_columns
bemenet: input_df
return típus: pandas.core.frame.DataFrame

"""

In [41]:
def first_three_columns(input_df):
    input_df = change_frice_to_float(input_df)
    return input_df.iloc[:, 0:3]

In [42]:
first_three_columns(food)

      order_id  quantity                              item_name
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

[4622 rows x 3 columns]

In [ ]:
"""
10. Készíts egy függvényt, ami visszaadja az összes oszlopot az utolsó 2-on kívül. Használd a tisztított adatokat.

fv. név: every_column_except_last_two
bemenet: input_df
return típus: pandas.core.frame.DataFrame

"""

In [30]:
def every_column_except_last_two(input_df):
    input_df = change_frice_to_float(input_df)
    return input_df.iloc[:,:-2]

In [31]:
every_column_except_last_two(food)

      order_id  quantity                              item_name
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

[4622 rows x 3 columns]

In [ ]:
"""
11. Készíts egy függvényt, amely tetszőleges oszlopokat és sorokat ad vissza a bemeneti adatokból. A sorokat és oszlopokat listák formájában adjuk be a függvénynek. A sorokat egy bemeneti oszlop alapján szűrjük.

fv. név: sliced_view
bemenet: input_df, columns_to_keep, column_to_filter, rows_to_keep
return type: pandas.core.frame.DataFrame

"""

In [32]:
def sliced_view(input_df, columns_to_keep, column_to_filter, rows_to_keep):
    new_df=input_df.copy()
    return new_df.loc[[x in rows_to_keep for x in new_df[column_to_filter]], columns_to_keep]

In [ ]:
"""
12. Készíts egy függvényt, ami a bemeneti adatokat kiegészíti egy 'Quartile' oszloppal. Használd a tisztított adatokat. A kvartilis oszlop értékeit az ár alapján határozza meg:

30 - : 'premium'
20 - 29.99: 'high-cost'
10 - 19.99: 'medium-cost
0 - 9.99: 'low-cost'

fv. név: generate_quartile
bemenet: input_df
return type: pandas.core.frame.DataFrame

"""

In [73]:
def generate_quartile(input_df):
    input_df = change_price_to_float(input_df)
    arak = list(input_df['item_price'])
    kvartilis = []
    for i in arak:
        if i > 29.99:
            kvartilis.append('premium')
        elif i > 19.99 and i < 30.00:
            kvartilis.append('high-cost')
        elif i > 9.99 and i < 20.00:
            kvartilis.append('medium-cost')
        else:
            kvartilis.append('low-cost')
    input_df['Quartile'] = kvartilis
    return input_df

In [74]:
generate_quartile(food)

NameError: name 'change_price_to_float' is not defined

In [ ]:
"""
13., Készíts egy függvényt, ami minden kvartilis értékhez kiszámítja, az átlagos árat. Használd az előző feladat eredményét bemenetként.

fn név: average_price_in_quartiles
bemenet: input_df
return type: pandas.core.frame.DataFrame

"""

In [47]:
def average_price_in_quartiles(input_df):
    input_df= generate_quartile(input_df)
    return input_df.groupby('Quartile')['item_price'].mean()

In [48]:
average_price_in_quartiles(food)

Quartile
high-cost      23.181951
low-cost        5.869593
medium-cost    11.853084
premium        36.031667
Name: item_price, dtype: float64

In [ ]:
"""
14., Készíts egy függvényt ami minden kvartilis esetén visszadja az árak minimális és maximális értékét, valamint az átlagát.

fv. név: minmaxmean_price_in_quartile
bemenet: input_df
return type: pandas.core.frame.DataFrame
"""

In [ ]:
def minmaxmean_price_in_quartile(input_df):
    grouped = input_df.groupby('Quartile')
    minmaxmean_values = grouped['item_price'].agg(['min', 'max','mean'])
    return minmaxmean_values

In [ ]:
"""
15. Készíts egy függvényt, ami létrehoz egy listát, benne number_of_trajectories db listával. A belső listák létrehozásának logikája a következő:
    A bemeneti paraméterként kapott distribution osztály felhasználásával (UniformDistribution 0,1 paraméterekkel) generálj length_of_trajectory véletlen számot
    A belső lista tartalmazza a generált számok kumulatív átlagát.
    Ismételd meg number_of_trajectories alkalommal (mindegyik belső listába egyszer)
    A seed értéke legyen 42.

függvény bemenete: distribution, number_of_trajectories, length_of_trajectory
kimeneti típus: List    
függvény neve: gen_uniform_mean_trajectories
"""

In [ ]:
import random
import src.weekly.weekly_test_5 as wt
from src.utils.distributions import UniformDistribution, LogisticDistribution, CauchyDistribution, \
    ChiSquaredDistribution
from src.weekly.weekly_test_2 import LaplaceDistribution
uniform = UniformDistribution(random, 0, 1)
def gen_uniform_mean_trajectories(uniform_distribution, number_of_trajectories, length_of_trajectory):
    random.seed(42)
    trajectories = []

    for _ in range(number_of_trajectories):

        mean_trajectory = []
        trajectory = []
        for i in range(length_of_trajectory):
            trajectory.append(uniform_distribution.gen_rand())
            mean_trajectory.append(sum(trajectory) / (i + 1))

        trajectories.append(mean_trajectory)

    return trajectories

In [ ]:
"""
16. Készíts egy függvényt, ami létrehoz egy listát, benne number_of_trajectories db listával. A belső listák létrehozásának logikája a következő:
    A bemeneti paraméterként kapott distribution osztály felhasználásával (LogisticDistribution 1, 3.3 paraméterekkel) generálj length_of_trajectory véletlen számot
    A belső lista tartalmazza a generált számok kumulatív átlagát.
    Ismételd meg number_of_trajectories alkalommal (mindegyik belső listába egyszer)
    A seed értéke legyen 42.

függvény bemenete: distribution, number_of_trajectories, length_of_trajectory
kimeneti típus: List    
függvény neve: gen_logistic_mean_trajectories
"""

In [ ]:
import random
import src.weekly.weekly_test_5 as wt
from src.utils.distributions import UniformDistribution, LogisticDistribution, CauchyDistribution, \
    ChiSquaredDistribution
from src.weekly.weekly_test_2 import LaplaceDistribution
logistic = LogisticDistribution(random, 1, 3.3)
def gen_logistic_mean_trajectories(logistic_distribution, number_of_trajectories, length_of_trajectory):
    random.seed(42)
    trajectories = []

    for _ in range(number_of_trajectories):

        mean_trajectory = []
        trajectory = []
        for i in range(length_of_trajectory):
            trajectory.append(logistic_distribution.gen_rand())
            mean_trajectory.append(sum(trajectory) / (i + 1))

        trajectories.append(mean_trajectory)

    return trajectories

In [ ]:
"""
17. Készíts egy függvényt, ami létrehoz egy listát, benne number_of_trajectories db listával. A belső listák létrehozásának logikája a következő:
    A bemeneti paraméterként kapott distribution osztály felhasználásával (LaplaceDistribution 1, 3.3 paraméterekkel) generálj length_of_trajectory véletlen számot
    A belső lista tartalmazza a generált számok kumulatív átlagát.
    Ismételd meg number_of_trajectories alkalommal (mindegyik belső listába egyszer)
    A seed értéke legyen 42.

függvény bemenete: distribution, number_of_trajectories, length_of_trajectory
kimeneti típus: List    
függvény neve: gen_laplace_mean_trajectories
"""

In [ ]:
import random
import src.weekly.weekly_test_5 as wt
from src.utils.distributions import UniformDistribution, LogisticDistribution, CauchyDistribution, \
    ChiSquaredDistribution
from src.weekly.weekly_test_2 import LaplaceDistribution
laplace = LogisticDistribution(random, 1, 3.3)
def gen_laplace_mean_trajectories(laplace_distribution, number_of_trajectories, length_of_trajectory):
    random.seed(42)
    trajectories = []

    for _ in range(number_of_trajectories):

        mean_trajectory = []
        trajectory = []
        for i in range(length_of_trajectory):
            trajectory.append(laplace_distribution.gen_rand())
            mean_trajectory.append(sum(trajectory) / (i + 1))

        trajectories.append(mean_trajectory)

    return trajectories

In [ ]:
"""
18. Készíts egy függvényt, ami létrehoz egy listát, benne number_of_trajectories db listával. A belső listák létrehozásának logikája a következő:
    A bemeneti paraméterként kapott distribution osztály felhasználásával (CauchyDistribution 2,4 paraméterekkel) generálj length_of_trajectory véletlen számot
    A belső lista tartalmazza a generált számok kumulatív átlagát.
    Ismételd meg number_of_trajectories alkalommal (mindegyik belső listába egyszer)
    A seed értéke legyen 42.

függvény bemenete: distribution, number_of_trajectories, length_of_trajectory
kimeneti típus: List    
függvény neve: gen_cauchy_mean_trajectories
"""

In [ ]:
import random
import src.weekly.weekly_test_5 as wt
from src.utils.distributions import UniformDistribution, LogisticDistribution, CauchyDistribution, \
    ChiSquaredDistribution
from src.weekly.weekly_test_2 import LaplaceDistribution

def gen_cauchy_mean_trajectories(cauchy_distribution, number_of_trajectories, length_of_trajectory):
    random.seed(42)
    trajectories = []

    for _ in range(number_of_trajectories):

        mean_trajectory = []
        trajectory = []
        for i in range(length_of_trajectory):
            trajectory.append(cauchy_distribution.gen_rand())
            mean_trajectory.append(sum(trajectory) / (i + 1))

        trajectories.append(mean_trajectory)

    return trajectories

In [ ]:
"""
19. Készíts egy függvényt, ami létrehoz egy listát, benne number_of_trajectories db listával. A belső listák létrehozásának logikája a következő:
    A bemeneti paraméterként kapott distribution osztály felhasználásával (ChiSquaredDistribution 3 paraméterrel) generálj length_of_trajectory véletlen számot
    A belső lista tartalmazza a generált számok kumulatív átlagát.
    Ismételd meg number_of_trajectories alkalommal (mindegyik belső listába egyszer)
    A seed értéke legyen 42.

függvény bemenete: distribution, number_of_trajectories, length_of_trajectory
kimeneti típus: List    
függvény neve: gen_chi2_mean_trajectories
"""

In [57]:
import random
import src.weekly.weekly_test_5 as wt
from src.utils.distributions import UniformDistribution, LogisticDistribution, CauchyDistribution, \
    ChiSquaredDistribution
from src.weekly.weekly_test_2 import LaplaceDistribution

def gen_chi2_mean_trajectories(chisquared_distribution, number_of_trajectories, length_of_trajectory):
    random.seed(42)
    trajectories = []

    for _ in range(number_of_trajectories):

        mean_trajectory = []
        trajectory = []
        for i in range(length_of_trajectory):
            trajectory.append(chisquared_distribution.gen_rand())
            mean_trajectory.append(sum(trajectory) / (i + 1))

        trajectories.append(mean_trajectory)

    return trajectories