## Az eredményeket mentsd a src/weekly modul-ba weekly_test_6.py néven

#### Használható modulok: pathlib, pandas, typing, str, statsmodels

In [2]:
from pathlib import Path

In [8]:
datalib = Path.cwd().parent.joinpath('data')

SyntaxError: invalid syntax (2379069650.py, line 2)

In [ ]:
"""
1., Olvasd be a data mappa sp500.parquet nevű fájlját egy DataFrame-be. A betöltéshez használt engine paramétere legyen fastparquet
"""

In [11]:
import pandas as pd
data = pd.read_parquet('../data/sp500.parquet', engine='fastparquet')
data

           Symbol  Monthly Returns
Date
2000-02-29      A         0.569405
2000-03-31      A         0.001203
2000-05-31      A        -0.169252
2000-06-30      A         0.001698
2000-07-31      A        -0.447458
...           ...              ...
2022-06-30    ZTS         0.005616
2022-08-31    ZTS        -0.142536
2022-09-30    ZTS        -0.052642
2022-10-31    ZTS         0.018952
2022-11-30    ZTS         0.022284

[86611 rows x 2 columns]

In [ ]:
"""
2., Olvasd be az ff_factors.parquet fájlt egy DataFrame-be. A betöltéshez használt engine paramétere legyen fastparquet
"""

In [12]:
data2 = pd.read_parquet('../data/ff_factors.parquet', engine='fastparquet')
data2

            Mkt-RF     SMB     HML     RF
Date
1926-07-31  0.0296 -0.0256 -0.0243  0.022
1926-08-31  0.0264 -0.0117  0.0382  0.025
1926-09-30  0.0036 -0.0140  0.0013  0.023
1926-10-31 -0.0324 -0.0009  0.0070  0.032
1926-11-30  0.0253 -0.0010 -0.0051  0.031
...            ...     ...     ...    ...
2023-03-31  0.0251 -0.0551 -0.0885  0.036
2023-04-30  0.0061 -0.0335 -0.0004  0.035
2023-05-31  0.0035  0.0161 -0.0772  0.036
2023-06-30  0.0646  0.0154 -0.0026  0.040
2023-07-31  0.0321  0.0207  0.0413  0.045

[1165 rows x 4 columns]

In [ ]:
"""
3., Kapcsold össze a két DataFrame-t egy új DataFrame-be. Az összekapcsolás módja, hogy a hozam adatokra balról kapcsoljuk rá a factor adatokat a 'Date' elsődleges kulcs alapján.
"""

![Joined data](../resources/weekly6/joined_data.jpg)

In [14]:
merged = data.merge(data2, on='Date', how='left')
merged

           Symbol  Monthly Returns  Mkt-RF     SMB     HML     RF
Date
2000-02-29      A         0.569405  0.0245  0.2136 -0.0959  0.043
2000-03-31      A         0.001203  0.0520 -0.1720  0.0813  0.047
2000-05-31      A        -0.169252 -0.0442 -0.0605  0.0475  0.050
2000-06-30      A         0.001698  0.0464  0.1284 -0.0842  0.040
2000-07-31      A        -0.447458 -0.0251 -0.0307  0.0831  0.048
...           ...              ...     ...     ...     ...    ...
2022-06-30    ZTS         0.005616 -0.0843  0.0210 -0.0597  0.006
2022-08-31    ZTS        -0.142536 -0.0377  0.0140  0.0029  0.019
2022-09-30    ZTS        -0.052642 -0.0935 -0.0081  0.0005  0.019
2022-10-31    ZTS         0.018952  0.0783  0.0006  0.0801  0.023
2022-11-30    ZTS         0.022284  0.0460 -0.0352  0.0138  0.029

[86611 rows x 6 columns]

In [ ]:
"""
4., Készíts egy új 'Excess Return' nevű oszlopot, ami a havi hozamok és a kockázat mentes hozam (RF) különbsége
"""

In [16]:
merged['Excess Return'] = merged['Monthly Returns'] - merged['RF']
merged

,Symbol,Monthly Returns,Mkt-RF,SMB,HML,RF,Excess Return
Date,,,,,,,
2000-02-29,A,0.569405,0.0245,0.2136,-0.0959,0.043,0.526405
2000-03-31,A,0.001203,0.0520,-0.1720,0.0813,0.047,-0.045797
2000-05-31,A,-0.169252,-0.0442,-0.0605,0.0475,0.050,-0.219252
2000-06-30,A,0.001698,0.0464,0.1284,-0.0842,0.040,-0.038302
2000-07-31,A,-0.447458,-0.0251,-0.0307,0.0831,0.048,-0.495458
...,...,...,...,...,...,...,...
2022-06-30,ZTS,0.005616,-0.0843,0.0210,-0.0597,0.006,-0.000384
2022-08-31,ZTS,-0.142536,-0.0377,0.0140,0.0029,0.019,-0.161536
2022-09-30,ZTS,-0.052642,-0.0935,-0.0081,0.0005,0.019,-0.071642
2022-10-31,ZTS,0.018952,0.0783,0.0006,0.0801,0.023,-0.004048
2022-11-30,ZTS,0.022284,0.0460,-0.0352,0.0138,0.029,-0.006716

In [ ]:
"""
5., Rendezd sorba dátum szerint az adatokat, majd generálj egy új oszlopot ('ex_ret_1'), amely minden ticker ('Symbol') esetén 1-el eltolja az Excess Return értékeit olyan módon, hogy minden sorban szerepeljen a következő időszaki Excess Return érték. 
"""

![new column](../resources/weekly6/ex_ret_1.jpg)

In [23]:
merged = merged.sort_index()
merged['ex_ret_1'] = merged.groupby('Symbol')['Excess Return'].shift(-1)
merged

,Symbol,Monthly Returns,Mkt-RF,SMB,HML,RF,Excess Return,ex_ret_1
Date,,,,,,,,
2000-01-31,CPRT,-0.987130,-0.0474,0.0577,-0.0188,0.041,-1.028130,0.194133
2000-01-31,LNT,-0.988305,-0.0474,0.0577,-0.0188,0.041,-1.029305,-0.099604
2000-01-31,BKNG,6.844284,-0.0474,0.0577,-0.0188,0.041,6.803284,-0.078560
2000-01-31,SPG,-0.889351,-0.0474,0.0577,-0.0188,0.041,-0.930351,-0.076494
2000-01-31,LMT,-0.971967,-0.0474,0.0577,-0.0188,0.041,-1.012967,-0.100433
...,...,...,...,...,...,...,...,...
2022-11-30,SO,0.043922,0.0460,-0.0352,0.0138,0.029,0.014922,NaN
2022-11-30,CDNS,0.136403,0.0460,-0.0352,0.0138,0.029,0.107403,NaN
2022-11-30,SNPS,0.160622,0.0460,-0.0352,0.0138,0.029,0.131622,NaN
2022-11-30,STE,0.079310,0.0460,-0.0352,0.0138,0.029,0.050310,NaN
2022-11-30,ZTS,0.022284,0.0460,-0.0352,0.0138,0.029,-0.006716,NaN

In [ ]:
"""
6., A meglévő adathalmazt írd felül olyan módon, hogy egyszer törlöd az össze olyan sort, amely az 'ex_ret_1' oszlopban hiányos, majd ezt követően, törlöd az összes olyan sort, ami a 'HML' oszlopban hiányos
"""

In [26]:
merged = merged.dropna(subset=['ex_ret_1'])
merged = merged.dropna(subset=['HML'])
merged

,Symbol,Monthly Returns,Mkt-RF,SMB,HML,RF,Excess Return,ex_ret_1
Date,,,,,,,,
2000-01-31,CPRT,-0.987130,-0.0474,0.0577,-0.0188,0.041,-1.028130,0.194133
2000-01-31,LNT,-0.988305,-0.0474,0.0577,-0.0188,0.041,-1.029305,-0.099604
2000-01-31,BKNG,6.844284,-0.0474,0.0577,-0.0188,0.041,6.803284,-0.078560
2000-01-31,SPG,-0.889351,-0.0474,0.0577,-0.0188,0.041,-0.930351,-0.076494
2000-01-31,LMT,-0.971967,-0.0474,0.0577,-0.0188,0.041,-1.012967,-0.100433
...,...,...,...,...,...,...,...,...
2022-10-31,APD,0.075925,0.0783,0.0006,0.0801,0.023,0.052925,0.209658
2022-10-31,CME,-0.021622,0.0783,0.0006,0.0801,0.023,-0.044622,-0.010535
2022-10-31,EBAY,0.082314,0.0783,0.0006,0.0801,0.023,0.059314,0.117324
2022-10-31,V,0.166113,0.0783,0.0006,0.0801,0.023,0.143113,0.020841
2022-10-31,USB,0.052827,0.0783,0.0006,0.0801,0.023,0.029827,0.040258

In [ ]:
"""
A meglévő adatokból válaszd ki a Amazon részvényhez tartozó sorokat (AMZN) és töröld a tickereket tartalmazó oszlopot

7., Készíts egy új LinearRegressionSM elnevezésű osztályt. Definiáld benne a __init__ nevű függvényt, amely bemenetként 2 DataDrame-t kap amelyeket ments le a left_hand_side és right_hand_side elnevezésű változókba. Az egyik DataFrame fogja tartalmazni a következő hónap többlet hozamait (left_hand_side), a másik a piaci hozamokat (Mkt-RF), az SMB és a HML értékeket (right_hand_side).

8., Egésztsd ki az osztályt egy fit metódussal, ami meghívja a statsmodels segítségével OLS alapon becsült modellt illeszt az osztály adattagjaira. A becslésből visszakapott modellt mentse le az osztály _model adattagjába. Figyelj oda, hogy a regresszió futtatása során konstans (alfa / béta_0) is szerepeljen a predictor változók között.

9., Egészítsd ki az osztályt egy get_params metódussal, ami visszaadja a becsült modellt béta paramétereinek értékeit. A visszakapott pandas Series típusú adatban az oszlop neve legyen 'Beta coefficients'

10., Egészítsd ki az osztályt egy get_pvalues metódussal, ami visszaadja a becsült modell paraméterekhez tartozó p értékeket. A visszakapott pandas Series típusú adatban az oszlop neve legyen: P-values for the corresponding coefficients

11., Egészítsd ki az osztályt egy get_wald_test_result metódussal, ami visszaadja a bemeneti restrikciós mátrix alapján számolt F és p értékeket. A visszatérési típus string legyen, a visszaadandó szöveg: F-value: fvalue, p-value: pvalue, ahol az fvalue és pvalue helyére 3 tizedesjegyre kerekítve adja meg a hozzájuk tartozó értékeket.

12., Egészítse ki az osztályt egy get_model_goodness_values metódussal, ami visszadja a módosított R-négyzet, az Akaike és a Bayes információs kritériumok értékét. A visszatérési típus string legyen, a visszaadandó szöveg: Adjusted R-squared: ars, Akaike IC: ak, Bayes IC: by, ahol ars, ak és by helyére 3 tizedesjegyre kerekítve adja meg a hozzájuk tartozó értékeket.

A létrehozott osztályt és a hozzátartozó metódusokat mentsd le a src.linear_regression mappába, a LinearRegressions.py fájlba.
"""

In [ ]:
merged = merged[merged['Symbol'] == 'AMZN']
merged = merged.drop(columns=['Symbol'])
merged